.hero__subtitle img {
  width: 2.3rem;
  height: 2.3rem;
}

.hero__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--heading-color);
}

.hero__content h1 .highlight {
  font-size: 3.4rem;
  color: var(--secondary-color);
}

.hero__content p {
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--text-color);
}

.hero__img-box img,
.hero__img-box video {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  object-fit: cover;
}

.hero__content {
  padding-top: 3.5rem;
}

.hero__img-box {
  padding-top: 2rem;
}

.services__subtitle {
  font-size: 2.2rem;
  font-weight: 500;
  color: #ee6e6e;
  font-family: var(--subtitle-font-name);
}
.services__title {
  font-size: 2.5rem;
  font-weight: 500;
}

.featured__tour-title {
  margin-bottom: 25px;
  font-size: 2.2rem;
  font-weight: 500;
}

/* ////////////////////////////////////// */
.img_bannar {
   background-image: url(../assets/images/All_Tours.png);
   background-size: cover;
   background-position: center;
   height: 410px;
   position: relative;
   z-index: 1; 
 }
 
 .img_bannar::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); 
   z-index: -1;  
 }
 
 .img_bannar h1 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-weight: 600;
   color: #fff;
   font-size: 50px;
 }
 
 .img_bannar h1 span {
   color: var(--secondary-color);
 }
 
 
