 footer{
  padding-top: 20px;
  }

 footer .logo img{
  width: 90% ;
  margin-bottom: 1rem;
 }
 footer .logo p{
  color: var(--text-color);
   
 }
 .social__links{
  margin: 15px 0;
 }
 .social__links span a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  padding: 6px 9px 3px 9px;
  border-radius: 50%;
  font-size: 23px;
  transition: 0.2s ease-in-out;
  }
 .social__links span a:hover{
  background-color: #cc8015;
 }

 .footer__link-title{
  color: var(--heading-color);
margin-bottom: 1rem;
 }

 .footer__quick-links li a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  }
  .footer__quick-links li a:hover{
    color: var(--secondary-color);
  }

  .footer__quick-links h6 span i{
color: var(--secondary-color);
font-size: 1.1rem;
  }

  .footer_top{
    color: var(--secondary-color);
    text-decoration: none;
  }
  .footer_top:hover{
    color: var(--primary-color);
  }