.experience__content h2{
   font-size: 2.5rem; 
   margin-top: 1rem;
   font-weight: 500;
}

.experience__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.counter__wrapper{
    margin-top: 2.5rem;

}
.counter__box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--primary-color) ;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 10px 5px 10px 5px;
}
.counter__box h6{
  font-size: 1.1rem;  
  margin-top: 0.7rem;
  color: var(--text-color);
}

.experience__img img{
    width: 90%;
}